div[aria-labelledby="setting"] {
  right: 0 !important;
  left: auto !important;
}

.fs-7 {
  font-size: 0.9rem;
}

.fs-8 {
  font-size: 0.8rem;
}

.fs-9{
  font-size: 0.7rem;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #555;
  user-select: none;
}

.card_box {
  cursor: pointer;
  transition: all ease 1s;
}

.card_box:hover {
  box-shadow: 8px 17px 92px -7px rgba(171, 171, 171, 1);
  -webkit-box-shadow: 8px 17px 92px -7px rgba(171, 171, 171, 1);
  -moz-box-shadow: 8px 17px 92px -7px rgba(171, 171, 171, 1);
}

.react-toast-notifications__container {
  z-index: 10000 !important;
}

.progress {
  height: 0.4rem;
  background-color: #eaf3f1;
}

.error_focus:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 0 0 /25%);
}

.error_checkbox[type=checkbox]{
  border-color: red !important;
}

.hero_wrapper{
  min-height: 90vh;
  position: relative;
}

.hero_banner{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./bg.png');
background-size: cover;
background-position: center;
}

.hero_content{
  height: 100% !important;
  width: 50%;
}

.pointer{
  cursor: pointer;
}

.modal_view{
  height: 80vh;
}

.bg-tan {
  background-color: #fbf8f6;
}

.dropdown .active {
  background-color: #198754 !important;
}

.hover-green:hover{
  color: #198754;
}

.space_letter{
  letter-spacing: 0.2rem;
}

.active_ta{
  background: #198754;
  color: #fff;
  transition: all ease 0.5s;
}

.fs-lg{
  font-size: 10rem !important;
}

@media only screen and  (max-width: 992) {

  .hero_content{
    width: 60%;
  }
}


@media only screen and (max-width: 768) {
  .hero_content{
    width: 70%;
  }
}

/* td{
  min-width: max-content;
  max-width: 4rem;
} */

.link{
  text-decoration: none;
}